@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=JetBrains+Mono:wght@100&family=Montserrat:wght@346&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
    /* font-family: 'JetBrains Mono', monospace; */
    /* font-family: 'Montserrat', sans-serif; */
}

@media only screen and (max-width: 720px) {
    .pagediv {
        margin-top: 250px;
    }
}

.main {
    margin-top: 120px;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card {
    padding-top: 25px;
    margin: 15px 5px;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.page {
    height: 40px;
    width: 350px;
    margin: 50px;
}

.rank {
    background-color: rgb(223, 181, 13);
    font-size: small;
    font-weight: bold;
    width: 80px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 3px;
}

.fiat {
    font-size: xx-large;
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}

.coinName {
    font-size: large;
}

.buttonName {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 270px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    line-height: 1;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: box-shadow, transform;
}

.buttonName:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.buttonName:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.buttonName:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}